// common mixins

@mixin translateX($value) {
  transform: translateX($value);
  -webkit-transform: translateX($value);
  -moz-transform: translateX($value);
  -ms-transform: translateX($value);
  -o-transform: translateX($value);
}

@mixin zIndex($value) {
  z-index: $value;
}